<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/CSS/index.css"> -->
    <title>Discounts-Projects</title>
</head>
<body>
    <h1 class="titulo-index">Backend Discounts-Project</h1>

    <h2>Hola <%= nombre %> </h2>

    <a href="/api/user_list">Prueba DB</a>
</body>
</html>